.vs-AppNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--navbar-height);
    background-color: #fff;
    border-bottom: 2px solid var(--color-body);
    padding: 0 var(--p-4);
}
.vs-left-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.vs-nav-breadcrumbs {
    display: flex;
    gap: .5rem;
    text-transform: capitalize;
}
.vs-breadcrumbs-item svg {
    margin-left: 0.5rem
}
.vs-breadcrumbs-item.active {
    font-weight: bold;
}
.vs-item-link {
    text-decoration: none;
    color: var(--color-gray-300);
}
.vs-right-nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.vs-dropdown-link {
    display: flex;
    padding: var(--p-4);
    border-radius: 8px;
    justify-content: start;
}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
    .vs-btn-openSidebar {
        display: none
    }
}
@media (min-width: 1200px) {
    .vs-AppNavbar {
        padding-left: var(--p-8);
    }
   
}