.no-scroll {
    overflow: hidden;
}
.vs-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--navbar-height);
    /* background-color: var(--color-primary);  */
    padding: 0 var(--p-3);
    position: relative;
    z-index: 6; 
    border-bottom: 2px solid rgba(var(--color-gray-900-rgb), .05);
}

.vs-navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 1rem;
    padding: var(--p-7) var(--p-4);
}
.vs-navbar-logo img {
    margin-right: 0.5rem;
    display: inline-block;
    height: 30px;
    width: 30px;
}
.vs-navbar-logo span {
    color: var(--color-light);
    font-weight: 600;
}
.vs-navbar-left {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}
.vs-navbar-right > a {
    display: none;
}
.vs-right-cart-shopping {
    margin-left: 1rem;
    padding-left: var(--p-2);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.vs-navbar-nav {
    display: flex; 
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    max-width: 280px;
    background-color: #F5F7FA;
    border-radius: 20px;
    transition: all 0.4s ease;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.16);
    z-index: 20;
}

.vs-navbar-nav.is-active {
    left: 10px;
}
.vs-navbar-right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.vs-nav-header {
    display: flex;
    flex-direction: column;
}
.vs-header-top {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    border-radius: 16px 16px 0 0;
}
.vs-header-actions {
    display: flex;
    gap: 0.5rem;
    padding: var(--p-4);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.vs-actions-profile {
    display: flex;
    align-items: center;
    width: 100%;
}
.vs-profile-btn {
    border: 2px solid var(--color-body);
    border-radius: 999px;
    padding: 0.125rem;
}
.vs-profile-dropdown {
    position: absolute;
    width: 15rem;
    padding: var(--p-4);
    border-radius: 10px;
    background-color: var(--color-light);
    box-shadow: 0 0 15px rgba(106, 106, 106, 0.6);
    inset: 0px 0px auto auto;
    transform: translate(0px, 45px);
}
.vs-dropdown-header {
    padding: var(--p-4);
    font-weight: bold;
    border-bottom: 1px solid rgba(var(--color-gray-900-rgb), .1);
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
}
.vs-profile-dropdown a {
    display: flex;
    padding: var(--p-4);
    border-radius: 8px;
    justify-content: start;
}
.vs-navbar-profile {
    position: relative;
}
.vs-profile-img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 999px;
}
.vs-profile-name {
    color: var(--color-dark);
    margin-left: 10px;
    letter-spacing: 1px;
}
.vs-profile-name span {
    font-weight: bold;
}
.vs-btn-login {
    flex: 1 1 auto;
}
.vs-nav-links {
    display: flex;
    flex-direction: column;
    padding: 0 var(--p-4);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.vs-nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--color-gray-400);
    padding: var(--p-4) var(--p-2) ;
}
.vs-nav-link:hover {
    color: rgba(255, 255, 255, 0.8);
}
.vs-nav-link:focus {
    color: var(--color-primary);
}
.vs-navbar-left input {
    display: inline-block;
}
.closeNavbar {
    margin: 0.5rem;
}
.vs-section-search-bar {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: var(--p-2) var(--p-4);
    color: #fff;
    background-color: transparent;
}

.vs-logo img {
    height: 20px; 
    width: 20px;
}

.vs-search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: var(--p-1) var(--p-3);
    border-radius: 6px;
    width: 100%;
}

.vs-search-bar input[type="text"] {
    padding: 0 var(--p-3);
    border: none;
    flex-grow: 1;
    width: 100%;
    background-color: transparent;
    color: rgb(110, 110, 110);
}

.vs-search-bar input[type="text"]:focus-visible {
    outline: none;
}

button {
    padding: 5px 10px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button img {
    height: 20px;
}

.vs-search-bar input[type="text"]::placeholder {
    color: #ccc;
    margin-left: 10px;
}

.vs-user-menu {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: var(--p-4);
    background-color: var(--color-body);
    border-radius: var(--radius-1);
    position: absolute;
    right: 1rem;
    top: calc(var(--navbar-height) - 1rem);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.vs-menu-item {
    text-decoration: none;
    color: #fff;
}
@media (min-width: 768px) {
    .vs-navbar-right > a {
        display: inline-flex;
    }
    .vs-header-actions{
        display: none;
    }
    .vs-profile-img {
        height: 35px;
        width: 35px;
    }
}

@media (min-width: 992px) {
    
   
}

@media (min-width: 1200px) {
    .vs-navbar-left{
        flex: 1 1 auto;
        margin-right: 2rem;
    }
    .vs-navbar {
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        flex-wrap: wrap;
        padding: 0 var(--p-4);
    }
   
    .vs-navbar-nav {
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-direction: row;
        top: unset;
        left: unset;
        bottom: unset;
        margin-left: 0;
        padding: 0;
        position: relative;
        background-color: unset;
        max-width: none;
        width: auto;
        box-shadow: none;
        transition: unset;
    }
    .vs-header-top {
        background-color: inherit;
    }
    .vs-nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        border: unset;
        padding: 0;
    }
    .vs-navbar-logo { 
        padding: 0;
    }
    .vs-navbar-logo span {
        color: var(--color-gray-700);
    }
    .vs-nav-link {
        color: var(--color-gray-700);
        padding: 0 var(--p-4);
    }
    .vs-nav-link:focus {
        color: var(--color-light);
    }
    .vs-nav-categories {
        position: relative;
    }
    .vs-nav-categories::after {
        border-style: solid;
        border-width: 0 1.5px 1.5px 0;
        content: "";
        display: inline-block;
        height: 6px;
        transform: rotate(45deg);
        width: 6px;
        color: rgba(255, 255, 255);
        margin: 0;
        bottom: 9px;
        right: 2px;
        position: absolute;
        padding: 2px;
    }
    .closeNavbar, .openNavbar, .vs-nav-show, .overlay, .vs-nav-link .vs-nav-icon {
        display: none;
    }
    .no-scroll {
        overflow: initial;
    }
    
}