.vs-sidebar {
    position: fixed;
    width: 220px;
    bottom: 0;
    top: 0;
    background-color: #fff;
    transform: translateX(-17.125rem);
    transition: all .3s ease;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.vs-sidebar.open {
    transform: translateX(0);
}
.vs-sidebar--header {
    display: flex;
    position: relative;
    justify-content: space-between;
    text-decoration: none;
    min-height: 70px;
    transition: all .3s ease;
}


.vs-sidebar--header::after {
    content: '';
    display: flex;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid var(--color-body);
    bottom: 0;
}
.vs-header--logo {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: var(--p-5) var(--p-4);
    gap: 0.5rem;
    transition: all .3s ease;
}



@keyframes hidden {
    to {
        display: none;
        opacity: 0;
    }  
}
.vs-logo--title {
    font-weight: bold;
    color: var(--color-gray-700);
}
.vs-logo--img {
    width: 35px;
    height: 35px;
}
.vs-btn-closeSidebar {
    margin : 0.5rem;
}
.vs-btn-miniSidebar {
    display: none;
}
.vs-sidebar-content {
    display: flex;
    flex-direction: column;
    padding: 0 var(--p-4);
    margin: 4rem 0;
    gap: 1rem;
}

.vs-sidebar-actions {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: inherit;
    padding: 0 var(--p-4);
    margin-bottom: 1rem ;
    bottom: 0;
    text-wrap: nowrap;
}
.vs-sidebar-actions button {
    color: var(--color-gray-400);
    width: initial;
}

.vs-sidebar-actions:hover > span, .vs-sidebar-actions:hover > button {
    color: var(--color-gray-800);
}

@media (min-width: 992px) {
    .vs-sidebar {
        transform: translateX(0);
        border-right: 2px solid var(--color-body);
        border-radius: unset;
        box-shadow: unset;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 0;
    }
    .vs-sidebar-content {
        height: calc(100vh - 225px);
    }
    .vs-btn-closeSidebar {
        display: none;
    }
    .vs-btn-miniSidebar {
        display: inherit;
        position: absolute;
        right: 0;
        margin: var(--p-4) var(--p-3);
    }
    .vs-sidebar.small-sidebar {
        width: 75px;
    }
    .vs-sidebar.small-sidebar .vs-sidebar--header {
        justify-content: center;
    }
    .vs-sidebar.small-sidebar .vs-sidebar--header::after {
        width: 60%;
        margin-left: 0;
    }
    .vs-sidebar.small-sidebar .vs-header--logo {
        width: 0;
        opacity: 0;
        padding: 0;
        pointer-events: none;
    }
    .vs-sidebar.small-sidebar .vs-header--logo img, 
    .vs-sidebar.small-sidebar .vs-header--logo span {
        width: 0;
        opacity: 0;
    }
    .vs-sidebar.small-sidebar .vs-sidebar-content span {
        width: 0;
        opacity: 0;
        transition: .3s ease;
    }
    .vs-sidebar.small-sidebar .vs-sidebar-actions span {
        text-wrap: nowrap;
        width: 0;
        opacity: 0;
    }
    .vs-sidebar.vs-sidebar.small-sidebar .vs-btn-miniSidebar {
        right: 10%;
    }
}