.vs-sidebar {
    position: fixed;
    width: 220px;
    bottom: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.08);
    padding: 0 var(--p-4)
}
.vs-sidebar--header {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    text-decoration: none;
    padding: var(--p-3) var(--p-6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.vs-header--logo {
    width: 40px;
    height: 40px;
}
.vs-header--title {
    color: var(--color-primary);
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
}
.vs-sidebar-content {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    gap: 1rem;
    height: calc(100vh - 225px);
}
.vs-sidebar-actions {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-gray-400);
}
.vs-sidebar-actions button{
    color: var(--color-gray-400);
}
.vs-sidebar-actions:hover > span, .vs-sidebar-actions:hover > button {
    color: var(--color-gray-700);
}