.vs-main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@media (min-width: 992px) {
    .vs-main-content{
        margin-left: 220px;
        transition: all .3s ease;
    }
    .vs-main-content.small-sidebar {
        margin-left: 72px;
    }
}