.vs-card {
    border-radius: 16px;
    background-color: #fff;
    border: 2px solid rgba(var(--color-gray-300-rgb), 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
    width: 100%;
    overflow: auto;
    padding: var(--p-8);
}

