.vs-link-nav {
    display: flex;
    position: relative;
    align-items: center;
    color: var(--color-gray-400);
    background-color: transparent;
    text-decoration: none;
    padding: var(--p-2) var(--p-4);
    gap: 1rem;
}
.vs-link-nav.selected {
    background-color: transparent;
    color: var(--color-primary);
    border-radius: 6px;
}
.vs-link-nav.selected::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    inset: auto -50px auto;
    width: 45px;
    height: 35px;
    border-radius: 10% 3px 10% 3px;
    transform: rotate(45deg);
    background-color: var(--color-primary);
}
