.vs-btn {
  border-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-1);
  text-decoration: none;
  padding: var(--p-3) var(--p-7);
  white-space: nowrap;
}

.vs-btn--primary {
  color: #ffffff;
  background-color: var(--color-primary);
}
.vs-btn--secondary-ghost {
  color: rgba(0, 69, 154, 0.9);
  background-color: rgba(var(--color-secondary-rgb), 0.27);
}

.vs-btn--white {
  color: #ffffff;
  background-color: #fff;
}
.vs-btn--dark {
  color: #4c4c4c;
  background-color: #4c4c4c48;
}

.vs-btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width-btn-icon);
  height: var(--height-btn-icon);
  border-radius: 999px;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
}


.vs-btn--light {
  color: var(--color-light);
  background-color: rgba(var(--color-light-rgb), 0.06);
}
.vs-btn--light:hover {
  color: var(--color-light);
  background-color: rgba(var(--color-light-rgb), 0.15);
}

.vs-btn--primary:hover {
  color: rgba(255, 254, 255, 0.8);
}
.vs-outlined--primary {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.outlined-button:hover {
  background-color: #000;
  color: rgba(255, 255, 255, 0.8);
}