.vs-categories-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 40px ;
    border: 2px solid var(--color-body);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.01);
    padding: var(--p-2);
    cursor: pointer;
    background-color: #fff;
    color: var(--color-gray-900);
}
.selected {
    background-color: var(--color-primary);
    color: #fff;
}
.vs-btn-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    color: var(--color-gray-900);
    border: 1px solid rgba(var(--color-gray-400), 0.8);
}
.vs-btn-label {
    color: inherit;
    line-height: 2rem;
    margin: 0 1rem;
    font-weight: bold;
    text-wrap: nowrap;
}